/*SLIDESHOW*/
#slide-show-section
{
	position: relative;
	margin-top: calc(var(--welcomeM) - 20rem);
	height: 490px;
}
.slide-show-div
{
	border-radius: 24px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 582px;
	height: 362px;

}
.slideshow-overlay-black, .slideshow-overlay-gray
{
	border-radius: 24px;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.35;
	pointer-events: none;
	z-index: 5;
}
.slideshow-overlay-black
{
	background-color: #000000;
}
.slideshow-overlay-gray
{
	background-color: #88888859;
}
.slideshow-content
{
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	gap: 2rem;
}

.slideshow-slides
{
	scrollbar-width: none;
  	-ms-overflow-style: none;
  	overflow: -moz-scrollbars-none;
	display: flex;
	overflow: auto;
	width: 500%;
	height: 100%;
	z-index: 3;
}
.slideshow-slide
{
	border-radius: 24px;
	width: 20%;
	height: 100%;
	transition: 0.5s;
}
.slideshow-photo
{
	border-radius: 24px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.slideshow-indicators
{
	position: relative;
	height: 1rem;
	display: flex;	
	margin-left: auto;
	margin-right: auto;
}
.slideshow-indicator
{
	cursor: pointer;
	flex: 1;
 	background-color: var(--thirdDark);
}
.first-indicator
{
	border-radius: 16px 0px 0px 16px;
}
.last-indicator
{
	border-radius: 0px 16px 16px 0px;
}

.slideshow-indicator-anim
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10px;
	height: 1rem;
	transition: all 0.15s;
	border-radius: 16px;
	background-color: var(--fourthGreen);
	pointer-events: none;
}

input[name='r']
{
	position: absolute;
	visibility: hidden;
}

#r1:checked ~ .s1
{
	margin-left: 0;
}
#r2:checked ~ .s1
{
	margin-left: -20%;
}

#r3:checked ~ .s1
{
	margin-left: -40%;
}

#r4:checked ~ .s1
{
	margin-left: -60%;
}

#r5:checked ~ .s1
{
	margin-left: -80%;
}

 



#statistics-section
{
	margin-top: calc(var(--hugeM) + 15vh);
}
.statistics
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 var(--leftM);
}
.statistic
{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.statistic-num
{
	font-family: Dangrek;
	font-size: 4.5rem;
	color: var(--fourthGreen);
}
.statistic-name
{
	font-size: 2.5rem;
	text-align: center;
	color: var(--white);
	font-weight: 600;
}