/*VARIABLES*/
:root
{

	/*Text*/
  /*72px*/
	--header: 4.5rem;
	--header-line-height: 6rem;
	/*72px*/
	--welcome-header: 4.5rem;
	--welcome-header-line-height: 5.375rem;
	/*32px*/
	--welcome-description: 2rem;
	/*28px*/
	--description: 1.75rem;
	--description-line-height: 3rem;
	/*24px*/
	--semi-description: 1.5rem;
	/*56px*/
	--semi-header: 3.5rem;

  /*Special Text*/
  --nav-text: 1.25rem;

  --end-header: 4.5rem;
  --end-header-line-height: 5.375rem;

  --end-description: 2rem;
  --end-description-line-height: auto;

  --copyright: 1.5rem;
  --end-icons: 2rem;

	/*Culori*/

	--fourthDark: #424D3F;
	--thirdDark: #323C2F;
	--secondDark: #262F24; 
	--firstDark: #1E271D;

	--fourthGreen: #ACD279; 
	--thirdGreen: #98C066;
	--secondGreen: #7BA64A; 
	--firstGreen: #5E8832;

	--white: #FFF;
	--white90: #262F24;
	--white50: #323C2F;
	--white25: #1E271D;

	/*General Margin*/

/*256px*/
	--hugeM: 16rem; 
/*128px*/
	--bigM: 8rem;
	/*80px*/
	--mediumM: 5rem;
	/*56px*/
	--smallM: 3.5rem;
	/*40px*/
	--tinyM: 2.5rem;

	/*Specific Margin*/
	/*200px*/
	--startM: 12.5rem;
	/*100px*/
	--carouselM: 6.25rem;

}
html
{
	scroll-behavior: smooth;
}
/*FONTS*/
@font-face
{
	font-family: Dangrek;
	src: url("../Fonts/Dangrek/Dangrek-Regular.ttf");
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-Thin.ttf");
	font-weight: 100;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-ExtraLight.ttf");
	font-weight: 200;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-Light.ttf");
	font-weight: 300;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-Regular.ttf");
	font-weight: 400;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-Medium.ttf");
	font-weight: 500;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-SemiBold.ttf");
	font-weight: 600;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-Bold.ttf");
	font-weight: 700;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-ExtraBold.ttf");
	font-weight: 800;
}

@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins/Poppins-Black.ttf");
	font-weight: 900;
}
*
{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: Poppins;
	user-select: none;
}
::-webkit-scrollbar{
	width: 12px;
  	background-color: var(--thirdDark);
}
::-webkit-scrollbar-thumb{
  border-radius:4px;
  background-color: var(--fourthGreen);
  border: none;
}
::-webkit-scrollbar-track{
	border-radius: 3px;
  	background-color: transparent;
}
a, button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
img
{
	pointer-events: none;
	user-select: none;
}
section
{
/*	scroll-margin-top: 96px;*/
}
@media(prefers-reduced-motion)
{
	.hidden
	{
		transition: all 0s;
	}
	.header
	{
		transition: all 0.1s;
	}
}
body
{
	overflow-x: hidden;
	background-color: var(--secondDark);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
	user-select: none;
	user-drag: none;
}

/*NAV BAR*/
.nav-bar
{
	width: 100%;
	height: 84px;
	padding: 0px 8rem;
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: var(--secondDark);
	backdrop-filter: blur(5px);
}
.nav-content
{
	display: flex;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
.nav-logo
{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 200px;
	height: 84px;
	cursor: pointer;
}
.nav-logo-img
{
	width: 100%;
	height: 64px;
	object-fit: cover;
}
.nav-links
{
	display: flex;
	gap: 4rem;
	width: auto;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.nav-link
{
	display: flex;
	gap: 0.5rem;
	align-items: center;
	cursor: pointer;
	transition: opacity 0.15s;
}
.nav-text::before
{
	content: '';
	position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: var(--fourthGreen);
  visibility: hidden;
  border-radius: 16px;
  transform: scaleX(0);
  transition: .15s ease-in-out;
}
#current-page::before
{
	content: '';
	position: absolute;
  width: 100%;
  height: 3px;
  bottom: -2px;
  left: 0;
  background: var(--fourthGreen);
  visibility: visible;
  border-radius: 16px;
  transform: scaleX(1);
}
.nav-link:hover .nav-text:before,
.nav-link:focus .nav-text:before {
  visibility: visible;
  transform: scaleX(1);
}
.nav-text
{
	position: relative;
	color: var(--white);
	font-size: var(--nav-text);
	font-weight: 600;
	transition: all 0.15s;
}
.nav-icon
{
	width: var(--nav-text);
	height: var(--nav-text);
	fill: var(--fourthGreen);

}
/*WELCOME TEXT*/

.welcome-div
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: var(--startM);
	display: inline-flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	justify-content: center;
}
.welcome-text
{
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}
/*.welcome-header-div
{
	min-width: 100%;
}*/
.welcome-header
{
	white-space: nowrap;
	line-height: var(--welcome-header-line-height);
	font-family: Dangrek;
	font-size: var(--header);
	color: var(--white);
}
.important-text
{
	color: var(--fourthGreen);
	font-family: Dangrek;
}
/*.welcome-description-div
{
	max-width: 100%;
}*/
.welcome-description
{
	color: white;
	font-weight: 600;
	font-size: var(--welcome-description);
}

/*Buttons*/
.welcome-buttons
{
	display: flex;
	gap: 6rem;
	align-items: center;
	justify-content: space-between;
}
.button,.outline-button
{
	position: relative;
	height: 3.5rem;
	cursor: pointer;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	background-color: var(--fourthGreen);
	border-radius: 8px;
	padding: 10px 4rem 10px 2rem;
	border: none;
	z-index: 2;
}
.button:hover .button-icon-dark
{
	transform: translateY(15%);
}
.outline-button:hover .button-icon-green
{
	transform: translateX(15%);
}
.button-content
{
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
}
.button-text
{
	font-weight: 600;
	font-size: var(--semi-description);
	text-align: center;
	color: var(--secondDark);
}
.outline-button
{
	background-color: var(--secondDark);
	border-radius: 8px;
	border-style: solid;
	border-width: 4px;
	border-color: var(--fourthGreen);
}
.outline-button-text
{
	white-space: nowrap;
	font-weight: 600;
	font-size: var(--semi-description);
	text-align: center;
	color: var(--fourthGreen);
}
.button-icon-green,
.button-icon-dark
{
	width: 1.25rem;
	height: 1.25rem;
	position: absolute;
	right: 2rem;
	transition: all 0.25s;
}
.button-icon-green
{
	fill: var(--fourthGreen);
}
.button-icon-dark
{
	fill: var(--secondDark);
}

/*Section Break*/
.big-section-break
{
	margin-top: 50rem;
	width: 100%;
	padding: 0px 128px;
}
.section-break
{
	margin-top: 8rem;
	width: 100%;
	padding: 0px 128px;
	
}
.section-break-tool
{
	width: 100%;
	height: 2px;
	background-color: var(--fourthDark);
}
/*Header*/
.text-area
{
	display: inline-flex;
	flex-direction: column;
	gap: 2.5rem;
	margin-top: var(--bigM);
	margin-left: var(--bigM);
}
.header-div
{
	width: 755px;
}
.header
{
	font-family: Dangrek;
	font-size: var(--header);
	line-height: var(--header-line-height);
	color: var(--white);
}
.description-div
{
	width: 755px;
}
.description
{
	font-size: var(--description);
	font-weight: 500;
	line-height: var(--description-line-height);
	color: var(--white);
}
.company-name
{
	font-weight: 600;
	color: var(--fourthGreen);
}
/*BACKUP BUTTON*/

.backup-div
{
	opacity: 0;
	pointer-events: none;
	position: fixed;
	bottom: 32px;
	right: 32px;
	z-index: 4;
	border-radius: 100px;
	transform: translateY(200%);
	transition: all 0.15s;
}
.backup-button
{
	position: relative;
	border-radius: 100px;
	width: 3.5rem;
	height: 3.5rem;
	background-color: var(--fourthGreen);
	padding: 1rem;
	border: none;
	cursor: pointer;
	position: relative;
	box-shadow: 0px 0px 3px rgba(38, 47, 36, 0.04), 0px 0px 3px rgba(38, 47, 36, 0.13), 0px 0px 2px rgba(38, 47, 36, 0.21), 0px 0px 1px rgba(38, 47, 36, 0.25), 0px 0px 0px rgba(38, 47, 36, 0.25);
}
.backup-button:hover .backup-icon
{
	transform: translate(-50%, -65%);
}
.backup-icon
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	fill: var(--secondDark);
	width: 1.5rem;
	height: 1.5rem;
	transition: all 0.15s ease-in-out;
}
.display-backup-button-div
{
	opacity: 1;
	pointer-events: initial;
	transform: translateY(0);
}
.postion-backup-button-div
{
	position: absolute;
	--top: 0;
	top: var(--top);

	right: 50%;
	transform: translateX(50%);
	transition: all 0.25s;
}
.backup-button-inactive
{
	position: relative;
	pointer-events: none;
}


/*END SECTION*/

/*START*/
.end-section-start
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: var(--hugeM);
	gap: 1.5rem;
}
.end-header
{
	font-family: Dangrek;
	font-size: var(--end-header);
	line-height: var(--end-header-line-height);
	color: var(--white);
	text-align: center;
}
.end-description
{
	width: 615px;
	font-weight: 600;
	font-size: var(--end-description);
	line-height: var(--end-description-line-height);
	color: var(--white);
	text-align: center;
}

/*FINISH*/
.end-section
{
	margin-top: var(--hugeM);
	width: 100%;
	height: 100%;
	padding: 0px 8rem;
	display: flex;
	gap: 3rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 3rem;
}
.end-start-decorator
{
	width: 100%;
	height: 2px;
	background-color: var(--fourthDark);
	border-radius: 16px;
}
.end-content
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
}
.copyright
{
	font-weight: 600;
	font-size: var(--copyright);
	color: var(--white);	
}
.contact-icons
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.contact-icon
{
	cursor: pointer;
	width: var(--end-icons);
	height: var(--end-icons);
	fill: var(--white);
}
.language-div
{
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
}
.language-div:hover .language-icon
{
	transform: rotate(-90deg);
}
.language-text
{
	cursor: pointer;
	font-weight: 600;
	font-size: 1.25rem;
	color: var(--white);
}
.language-icon
{
	fill: var(--white);
	width: 12px;
	height: 12px;
	transition: transform 0.15s;
}

/*POPUP DISCLAIMER*/

.disclaimer-div
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--thirdDark);
	width: 40rem;
	height: 30rem;
	padding: 3.5rem 3rem;
	border-radius: 64px;
	z-index: 11;
	box-shadow: 0px 136px 54px rgba(23, 29, 22, 0.01), 0px 76px 46px rgba(23, 29, 22, 0.05), 0px 34px 34px rgba(23, 29, 22, 0.09), 0px 8px 19px rgba(23, 29, 22, 0.1), 0px 0px 0px rgba(23, 29, 22, 0.1);
	animation: disclaimer-appear-anim 0.15s forwards;
}
.disclaimer-content
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}
.disclaimer
{
	color: var(--white);
	font-size: 1.375rem;
	font-weight: 600;
	text-align: center;
}
.disclaimer-icon
{
	width: 6rem;
	height: 6rem;
	fill: var(--fourthGreen);
}
@keyframes disclaimer-appear-anim
{
	from
	{
		filter: blur(1px);
		transform: translate(-50%, -65%);
	}
	to
	{
		filter: blur(0);
		transform: translate(-50%, -50%);
	}
}
@keyframes disclaimer-dissapear-anim
{
	from
	{
		display: initial;
	}
	to
	{
		filter: blur(1px);
		transform: translate(-50%, -65%);
		display: none;
	}
}
.disclaimer-dissapear
{
	display: none;
	animation: disclaimer-dissapear-anim 0.15s forwards;
}
.disclaimer-button
{
	cursor: pointer;
	font-weight: 600;
	color: var(--thirdDark);
	text-align: center;
	display: flex;
	align-content: center;
	font-size: 1.25rem;
	justify-content: center;
	padding: 0.5rem 3rem;
	background-color: var(--fourthGreen);
	border-radius: 8px;
	border: none;
}
.overlay
{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 39, 29, 0.7);
	z-index: 10;
}