/*VARIABLES*/
:root
{

	--fourthDark: #424D3F;
	--thirdDark: #323C2F;
	--secondDark: #262F24; 
	--firstDark: #1E271D;

	--fourthGreen: #ACD279; 
	--thirdGreen: #98C066;
	--secondGreen: #7BA64A; 
	--firstGreen: #5E8832;

}

/*FONTS*/
@font-face
{
	font-family: Dangrek;
	src: url("../Fonts/Dangrek/Dangrek-Regular.ttf");
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-Thin.ttf");
	font-weight: 100;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-ExtraLight.ttf");
	font-weight: 200;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-Light.ttf");
	font-weight: 300;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-Regular.ttf");
	font-weight: 400;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-Medium.ttf");
	font-weight: 500;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-SemiBold.ttf");
	font-weight: 600;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-Bold.ttf");
	font-weight: 700;
}
@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-ExtraBold.ttf");
	font-weight: 800;
}

@font-face
{
	font-family: Poppins;
	src: url("../Fonts/Poppins/Poppins-Black.ttf");
	font-weight: 900;
}
*
{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: Roboto;
	user-select: none;
}
::-webkit-scrollbar{
	width: 12px;
  	background-color: var(--thirdDark);
}
::-webkit-scrollbar-thumb{
  border-radius:4px;
  background-color: var(--fourthGreen);
  border: none;
}
::-webkit-scrollbar-track{
	border-radius: 3px;
  	background-color: transparent;
}
a, button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
img
{
	pointer-events: none;
	user-select: none;
}
section
{
	scroll-margin-top: 96px;
}
@media(prefers-reduced-motion)
{
	.hidden
	{
		transition: all 0s;
	}
	.header
	{
		transition: all 0.1s;
	}
}
body
{
	overflow-x: hidden;
	background-color: var(--secondDark);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a
{
	text-decoration: none;
	user-select: none;
}

/*.display-backup-button-div
{
	opacity: 0;
	filter: blur(0px);
	pointer-events: none;
	transform: translateY(0);
	
}
.postion-backup-button-div
{
	position: absolute;
	--top: 0;
	top: var(--top);

	right: 50%;
	transform: translateX(50%);
	transition: all 0.25s;
}*/