.random-category-anchor
{
	z-index: 2;
}
.random-category-icon
{
	display: none;
	position: absolute;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	fill: var(--fourthDark);
	opacity: 0.25;
	transition: opacity 0.15s;
}
.random-category-icon:hover
{
	opacity: 0.50;
}
.random-category-icon:active
{
	opacity: 0.75;
}
/*Category Links*/
.category-scrollable-space
{
	margin-top: var(--mediumM);
	overflow: scroll;
	cursor: grab;
}

.category-scrollable-space::-webkit-scrollbar
{
	display: none;
}
.category-links
{
	position: relative;
	white-space: nowrap;
	height: auto;
	display: flex;
	scroll-padding-left: 128px;
	scroll-snap-type: x mandatory;
	gap: 24px;
}
.category-link
{
	position: relative;
	scroll-snap-align: center;
	cursor: pointer;
	width: 25.5rem;
	height: 15rem;
	filter: drop-shadow(0px 32px 13px rgba(32, 33, 36, 0.03)) drop-shadow(0px 18px 11px rgba(32, 33, 36, 0.1)) drop-shadow(0px 8px 8px rgba(32, 33, 36, 0.17)) drop-shadow(0px 2px 4px rgba(32, 33, 36, 0.2)) drop-shadow(0px 0px 0px rgba(32, 33, 36, 0.2));
	border-style: solid;
	border-color: var(--fourthDark);
	border-width: 2px;
	background: var(--thirdDark);
	border-radius: 24px;
}
.category-link:hover .category-redirect-icon
{
	opacity: 0.75;
}
#first-category-link
{
	margin-left: var(--bigM);
}
.category-text-flex
{
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;
}
.category-text
{
	font-family: Dangrek;
	font-size: 2rem;
	line-height: auto;
	color: var(--white);
}
.category-examples
{
	display: flex;
	gap: 16px;
	width: 100%;
}
.category-example
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 16px;
	border-style: solid;
	border-color: var(--white);
	border-width: 2px;
	padding: 0.5rem 1rem;
	background: none;
	color: var(--white);
	opacity: 0.75;
	font-weight: 500;
	font-size: 0.875rem;
	display: none;
	transition: opacity 0.15s;
}
.category-example:hover
{
	opacity: 1;
}
.show-category-example
{
	display: initial;
}

.category-redirect-icon-div
{
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
}
.category-redirect-icon
{
	fill: var(--white);
	opacity: 0.5;
	transition: all 0.15s;
}
.category-main-icon-div
{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25%;
}
.category-main-icon
{
	width: 4rem;
	height: 4rem;
	fill: var(--fourthGreen);
}
.category-stabiliser
{
	width: 25.5rem;;
	pointer-events: none;
}
.category-scrollable::-webkit-scrollbar
{
	display: none;
}
.category-empty-space-div
{
	width: 104px;
	height: 15rem;

}
.category-empty-space
{
	width: 100%;
	height: 100%;
}
/*Carousels*/

/*CAROUSEL HEADER*/


.product-content
{
	margin-top: 8rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
.product-header-div
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	width: 100%;
	white-space: nowrap;
}
.product-header
{
	line-height: 6rem;
	font-size: 4.5rem;
	color: var(--white);
	font-family: Dangrek;
}
.product-icon
{
	width: 3.5rem;
	height: 3.5rem;
	fill: var(--secondDark);
}

.product-icon-bifa
{
	stroke: var(--fourthGreen);
}
.product-icon-contur
{
	stroke: var(--fourthGreen);
}
.product-icon-handle
{
	stroke: var(--fourthGreen);
}
.product-icon-old
{
	opacity: 0;
}
.product-icon-show
{
	opacity: 1 !important;
}
.product-icon-new
{
	opacity: 0;
	fill: var(--fourthGreen);
}
.shake-icon
{
	animation: shakeIcon 0.25s forwards;
}
@keyframes shakeIcon
{
	25%
	{
		transform: rotate(0deg);
	}
	50%
	{
		transform: rotate(5deg);
	}
	75%
	{
		transform: rotate(-5deg);
	}
	100%
	{
		transform: rotate(0deg);
	}

}

/*CAROUSEL MAIN*/
.carousel-flex
{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
}
.carousel-content
{
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}
/*CAROUSEL SLIDERS*/
.carousel-sliders
{
	display: flex;
	width: 100%;
	gap: 2rem;
	align-items: center;
	justify-content: flex-start;
	overflow-x: auto;
	z-index: 3;
	scroll-behavior: smooth;
}
.carousel-slide
{
	position: relative;
	background-color: var(--thirdDark);
	border-style: solid;
	border-color: var(--fourthDark);
	border-radius: 1.5rem;
	border-width: 2px;
	width: 325px;
	height: 500px;
	box-shadow: 0px 32px 13px rgba(32, 33, 36, 0.03), 0px 18px 11px rgba(32, 33, 36, 0.1), 0px 8px 8px rgba(32, 33, 36, 0.17), 0px 2px 4px rgba(32, 33, 36, 0.2), 0px 0px 0px rgba(32, 33, 36, 0.2);
}
.carousel-slide-product-img-div
{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 4rem;
	width: 100%;
}
.carousel-slide-product-img
{
	width: 150px;
	height: 164px;
	object-fit: cover;
}
.carousel-slide-text
{
	margin-top: 2rem;
	width: 100%;
	padding: 0px 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.carousel-slide-product-name
{
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;
	color: var(--white);
}
.carousel-slide-bonus-info
{
	text-align: center;
	color: var(--fourthGreen);
	opacity: 50%;
	font-weight: 600;
	line-height: 2.75rem;
	font-size: 1.5rem;
}
.carousel-slide-cost-div
{
	position: absolute;
	bottom: 1.75rem;
	display: flex;
	width: 100%;
	align-content: center;
	justify-content: center;
}
.carousel-slide-cost
{
	color: var(--fourthGreen);
	font-weight: 600;
	text-align: center;
	font-size: 1.75rem;
}
.carousel-slide-currency
{
	color: var(--fourthGreen);
	font-weight: 700;
	font-size: 1.25rem;
	text-align: center;
}
/*CAROUSEL ARROWS*/
.carousel-arrow-div
{
	cursor: pointer;
	height: 100%;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.carousel-arrow-div:hover .carousel-right-arrow
{
	margin-left: 0.5rem;
}
.carousel-arrow-div:hover .carousel-left-arrow
{
	margin-right: 0.5rem;
}
.carousel-arrow
{
	fill: var(--fourthGreen);
	width: 4rem;
	height: 4rem;
	transition: all 0.15s;
}
.carousel-arrow-inactive
{
	pointer-events: none;
	opacity: 0.25;
}
.carousel-inactive
{
	pointer-events: none;
}
/*CAROUSEL INDICATORS*/
.carousel-indicators
{	
	position: relative;
	height: 1rem;
	display: flex;	
	margin-left: auto;
	margin-right: auto;
}
.carousel-indicator
{
	display: none;
	cursor: pointer;
	flex: 1;
 	background-color: var(--thirdDark);
}
.carousel-indicator-anim
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10px;
	height: 1rem;
	transition: all 0.15s;
	border-radius: 16px;
	background-color: var(--fourthGreen);
	pointer-events: none;
}
.current-indicator
{
	pointer-events: none;
}
.first-indicator
{
	border-radius: 16px 0px 0px 16px;
}
.last-indicator
{
	border-radius: 0px 16px 16px 0px;
}
.show-indicator
{
	display: initial;
}
.carousel-stabiliser
{
	width: 350px;
	opacity: 0;
	pointer-events: none;
}
.carousel-sliders::-webkit-scrollbar
{
	display: none;
}

/*PROGRESS ICON*/

.product-section-progress-div
{
	position: fixed;
	bottom: 32px;
	left: 32px;
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	align-content: center;
	justify-content: center;
	display: none;
	z-index: 6;
}
.progress-div-show
{
	display: initial;
}

.product-section-progress
{
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: var(--fourthGreen);
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-section-progress:before
{
	content: '';
	position: absolute;
	height: 84%;
	width: 84%;
	background-color: var(--secondDark);
	border-radius: 100%;
}
.product-section-icon
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.progress-icon
{
	fill: var(--fourthGreen);
	width: 1.5rem;
	height: 1.5rem;
}
